# syncthing stuff
.sync-conflict*
.stignore
.stfolder

# Builds
.bin/
.obj/
bin/
obj/
.vs/
.vsconfig

/builds/

# Meta files for assemblies not referenced by unity

Lambda.Audio/Lambda.Audio.SteamIntegration/**/*.meta
Lambda.Audio/Lambda.Audio.SteamIntegration/**.meta

Lambda.Audio/PhononSpatializerProxy.BepInEx/**/*.meta
Lambda.Audio/PhononSpatializerProxy.BepInEx/**.meta

Lambda.Core/**/*.meta
Lambda.Core/**.meta

PacketWarden/**/*.meta
PacketWarden/**.meta

PacketWarden.FikaIntegration/**/*.meta
PacketWarden.FikaIntegration/**.meta